@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: linear-gradient(45deg, #08000a 20%, #1f0925 40%, #6a050d 100%);

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

label, span, h1 {
  color: #fff;
}

.user-input {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 30%;
}

.input-title {
  font-size: 1rem;
  font-weight: 500;
}

.input-wrap {
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.landing-position-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px dashed rgba(68, 61, 61, 0.5);
  padding: 4px;
}

.position-arg-label {
  flex: 1;
  text-align: center;
}

input[type='text'] {
  border-radius: 10px;
  padding: 2px;
  border: none;
  box-shadow: 0px 0px 4px rgba(68, 61, 61, 0.5);
  background-color: #1f1222;
  padding-inline-start: 4px;
  color: #fff;
  width: 50px;
  height: 30px;
  text-align: center;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
}

  input[type='text']:hover, input[type='text']:focus {
    background-color: #341c3a;
    box-shadow: 0px 0px 4px rgba(233, 188, 188, 0.5);
    color: #fff;
  }

.position-arg-input {
  margin-left: 4px;
}

input[type='button'], button {
  border: none;
  border-radius: 10px;
  letter-spacing: 0.75px;
  height: 30px;
}

.instructions-btn {  
  background-color: #1f1222;
  color: #fff;
  width: 100%;
  box-shadow: 0px 0px 4px rgba(68, 61, 61, 0.5);
}

  .instructions-btn:hover {
    background-color: #341c3a;
    box-shadow: 0px 0px 4px rgba(233, 188, 188, 0.5);
    cursor: pointer;
  }

.submit {
  width: clamp(270px, 30%, 30vw);
}

.submit:not(:disabled) {
  background-color: #d62735;
  color: #fff;
  box-shadow: 0px 0px 4px rgba(68, 61, 61, 0.5);
}

.user-output {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #0e0000;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-family:'Courier New', Courier, monospace;
  width: clamp(270px, 27%, 30vw);
}

.hidden {
  visibility: hidden;
}

.final-position-output {
  color: #6a050d;
  font-size: 1.5rem;
  font-weight: bold;
}